<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="headFragment">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <link rel="stylesheet" type="text/css" href="/css/semantic.css">

        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">

        <title>Stardium</title>
    </th:block>
</head>
</html>