<th:block th:fragment="menuFragment" xmlns:th="http://www.thymeleaf.org">
    <div class="ui small secondary inverted menu" style="margin-bottom: 0">
        <a class="toc item">
            <i class="sidebar icon black"></i>
            <div class="center item">
                <h1 class="ui violet header">Stardium</h1>
            </div>
        </a>
    </div>
    <div class="ui vertical inverted sidebar menu left" style="">
        <a class="item" href="/rooms/createForm">방 만들기</a>
        <a class="item" href="/player/edit">회원 정보 수정</a>
        <a class="item" href="/logout">로그 아웃</a>
    </div>
</th:block>