<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main_layout">

<th:block layout:fragment="custom_head">
    <title>방 만들기</title>
    <link href="/css/room.css" rel="stylesheet" type="text/css">
</th:block>

<th:block layout:fragment="content_header">
    <div class="ui small secondary inverted menu" style="margin-bottom: 0">
        <div class="toc item">
            <a href="/">
                <i class="angle double left icon black"></i>
            </a>
            <div class="item">
                <h1 class="ui violet header">방 만들기</h1>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="content_body">
    <div class="ui container">
        <form class="ui form" id="room-save-form">
            <div class="field">
                <h4 class="ui dividing header">제목</h4>
                <input id="title" name="title" placeholder="제목" type="text">
            </div>

            <div class="field">
                <h4 class="ui dividing header">주소</h4>
                <table>
                    <tr>
                        <div class="ui icon input">
                            <input id="fullAddress" type="text" placeholder="주소 검색" onfocusin="getAddress()">
                            <i class="inverted circular search link icon" onclick="getAddress()"></i>
                        </div>
                    </tr>
                    <tr>
                        <td class="label table_title_size">시/구</td>
                        <td class="slimField">
                            <input class="field" name="city" id="city" placeholder="시" disabled="true"/>
                        </td>
                        <td class="slimField">
                            <input class="field" name="section" id="section" placeholder="구" disabled="true"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="label table_title_size">상세정보</td>
                        <td class="wideField" colspan="2">
                            <input class="field" name="detail" id="detail" placeholder="더 자세히" type="text"
                                   disabled="true">
                        </td>
                    </tr>
                </table>
            </div>

            <div class="field">
                <h4 class="ui dividing header">게임 시간</h4>
                <div class="field">
                    <label>시작 시간</label>
                    <input id="startTime" name="startTime" type="datetime-local">
                </div>
                <div class="field">
                    <label>끝나는 시간</label>
                    <input id="endTime" name="endTime" type="datetime-local">
                </div>
            </div>

            <div class="field">
                <h4 class="ui dividing header">인원 수</h4>
                <input id="playersLimit" max="100" min="1" name="playersLimit" type="number" placeholder="명">
            </div>

            <div class="field">
                <h4 class="ui dividing header">방 소개</h4>
                <textarea form="room-save-form" id="intro" name="intro" placeholder="같이 게임 하실래요??"></textarea>
            </div>

            <button class="ui fluid violet button" id="signUp">만들기</button>
        </form>
    </div>
</th:block>

<th:block layout:fragment="custom_js">
    <script type="text/javascript" src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script type="text/javascript" src="/js/fetchApi.js"></script>
    <script type="text/javascript" src="/js/room.js"></script>
    <script type="text/javascript" src="/js/kakao_post_api.js"></script>
</th:block>

</html>