<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragment/head :: headFragment"/>
    <title>방 만들기</title>
</head>
<body>
​
<div class="ui container">
    <h1 class="ui violet header">방 만들기</h1>
    <form class="ui form" id="room-save-form">
        <div class="field">
            <h4 class="ui dividing header">제목</h4>
            <input id="title" name="title" placeholder="제목" type="text">
        </div>
        <div class="field">
            <h4 class="ui dividing header">주소</h4>
            <div class="fields">
                <div class="field">
                    <label>시</label>
                    <input id="city" name="city" placeholder="시" type="text">
                </div>
                <div class="field">
                    <label>구</label>
                    <input id="gu" name="gu" placeholder="구" type="text">
                </div>
            </div>
            <div class="field">
                <label>더 자세히</label>
                <input id="detail" name="detail" placeholder="더 자세히" type="text">
            </div>
        </div>
        <div class="field">
            <h4 class="ui dividing header">게임 시간</h4>
            <label>시작 시간</label>
            <input id="startTime" name="startTime" type="datetime-local">
            <label>끝나는 시간</label>
            <input id="endTime" name="endTime" type="datetime-local">
        </div>
        <div class="field">
            <h4 class="ui dividing header">인원 수</h4>
            <input id="playerNumbers" max="100" min="1" name="playerNumbers" type="number">
        </div>
        ​
        <div class="field">
            <h4 class="ui dividing header">방 소개</h4>
            <textarea form="room-save-form" id="intro" name="intro"></textarea>
        </div>
        ​
        ​
        <button class="ui violet button" id="signUp">Submit</button>
    </form>
</div>
<th:block th:replace="fragment/script"/>
<script src="/js/fetchApi.js"></script>
<script src="/js/room.js"></script>
</body>
</html>