<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main_layout">

<th:block layout:fragment="custom_head">
    <title>스타디움</title>
</th:block>

<th:block layout:fragment="content_menu">
    <th:block th:replace="fragment/menu"/>
</th:block>

<th:block layout:fragment="content_header">
    <th:block th:replace="fragment/main_header"/>
</th:block>

<th:block layout:fragment="content_body">
    <div>
        <select class="ui dropdown right floated" id="selectOption" name="지역">
            <option>지역</option>
            <option th:each="section : ${sections}" th:text="${section}"></option>
        </select>
        <div class="ui action input">
            <input type="text" placeholder="Search..." id="search-keyword">
            <button class="ui button" id="search-button">Search</button>
        </div>
    </div>
    <div class="ui segments">
        <div class="ui segment">
            <div class="ui cards" id="room-list">
                <div class="card" style="width: 100%;" th:if="${!rooms.isEmpty()}" th:each="room : ${rooms}">
                    <div class="content">
                        <img class="right floated mini ui image" src="/images/default_profile_img.png">
                        <div class="header" th:text="${room.title}">
                            방 제목
                        </div>
                        <div class="meta" th:text="${room.master.nickname}">
                            닉네임
                        </div>
                        <br>
                        <div class="description" th:text="${room.intro}">
                            Room introduction contents
                        </div>
                        <br>
                        <div class="summary" th:text="'장소 : ' + ${room.address}">
                            장소 : 어디서 농구 할 것인가
                        </div>
                        <div class="summary" th:text="'일시 : ' +${room.playTime}">
                            일시 : 언제 농구 할 것인가
                        </div>
                        <div class="summary" th:text="'인원 : ' +${room.playLimits}">
                            인원 : 몇 명이서 할 것인가
                        </div>
                        <div class="summary" th:text="'들어온 인원: ' + ${room.playerCount}">
                            들어온 인원: 1명
                        </div>
                    </div>
                    <div class="extra content">
                        <button class="ui fluid violet button room-join-button" th:data-room-id="${room.id}">참여하기
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="custom_js">
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/fetchApi.js"></script>
    <script type="text/javascript" src="/js/room.js"></script>
</th:block>
</html>