<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main_layout">

<th:block layout:fragment="custom_head">
    <title>게임 방</title>
    <link href="/css/room.css" rel="stylesheet" type="text/css">
</th:block>

<th:block layout:fragment="content_header">
    <div class="ui small secondary inverted menu" style="margin-bottom: 0">
        <div class="toc item">
            <a href="/">
                <i class="angle double left icon black"></i>
            </a>
            <div class="item">
                <h1 class="ui violet header" th:text="${room.title}">title</h1>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="content_body">
    <input id="roomId" name="roomId" th:value="${room.id}" type=hidden>

    <div class="ui container">
        <div class="ui form">

            <div class="field">
                <h3 class="ui dividing header">팀 소개</h3>
                <div class="ui segment">
                    <span class="label" th:text="${room.intro}"> Intro</span>
                </div>
            </div>

            <div class="field">
                <h3 class="ui dividing header">시간</h3>
                <div class="ui segment center aligned">
                    <p class="label" th:text="${'시작 시간 : ' + room.startTime}">일시</p>
                    <p class="label" th:text="${'종료 시간 : ' + room.endTime}">시간</p>
                </div>
            </div>

            <div class="field">
                <h3 class="ui dividing header">장소</h3>
                <div class="ui segment middle aligned center aligned grid">
                    <div class="column">
                        <p th:text="${'장소 : ' + room.address.city + ' ' + room.address.section + ' ' + room.address.detail}">
                            장소 : 루터회관</p>
                        <div id="map" class="map_size"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="basic_padding">
        <h3 class="ui grey header">Member</h3>
        <div class="ui two cards" th:each="player : ${room.players}">
            <div class="card">
                <div class="image">
                    <img alt="player-profile" src="/images/ybh.png">
                </div>
                <div class="content">
                    <div class="header" th:text="${player.nickname}">강백호</div>
                    <div class="description" th:text="${player.statusMessage}">
                        안녕하세요!
                    </div>
                </div>w
                <div class="extra content">
                <span>
                    <i class="basketball ball icon"></i>
                        75 plays
                </span>
                </div>
            </div>
        </div>
    </div>

    <div class="ui fluid large violet submit button" id="quit-button">나가기</div>
</th:block>

<th:block layout:fragment="custom_js">
    <script type="text/javascript" src="/js/fetchApi.js"></script>
    <script type="text/javascript" src="/js/room.js"></script>
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7ce1b570b081a1c8a6e863b061308ff4&libraries=services&"></script>
    <script type="text/javascript" src="/js/kakao_map_api.js"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        const FULL_ADDRESS = [[${room.address.city}]] + ' ' + [[${room.address.section}]] + ' ' + [[${room.address.detail}]];
        /*]]>*/

        MAP_API.init(FULL_ADDRESS);
    </script>
</th:block>

</html>