<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main_layout">
<th:block layout:fragment="custom_head">
    <title>회원가입</title>
</th:block>

<th:block layout:fragment="content_body">
    <div class="ui top aligned center aligned">
        <h1 class="ui violet header">회원가입</h1>
        <form class="ui form" accept-charset="UTF-8" action="/player/new" method="post">
            <div class="field">
                <div class="ui left icon input">
                    <i class="envelope icon"></i>
                    <input name="email" placeholder="이메일 입력" type="email"/>
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input name="password" placeholder="비밀번호 입력" type="password">
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input name="password-confirm" placeholder="비밀번호 재입력" type="password">
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input name="nickname" placeholder="닉네임 입력" type="text">
                </div>
            </div>
            <div class="field">
                <button type="submit" class="ui basic fluid violet large submit button">가입 완료</button>
            </div>
        </form>
    </div>
</th:block>
</html>