<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main-layout">

<th:block layout:fragment="custom-head">
    <title>방 업데이트</title>
    <link href="/css/room.css" rel="stylesheet" type="text/css">
</th:block>

<th:block layout:fragment="content-header">
    <div class="ui small secondary inverted menu" style="margin-bottom: 0">
        <div class="toc item">
            <a href="/">
                <i class="angle double left icon black"></i>
            </a>
            <div class="item">
                <h1 class="ui violet header">방 수정하기</h1>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="content-body">
    <input id="roomId" name="roomId" type=hidden value="1">
    <div class="ui container">
        <form class="ui form" id="room-save-form">
            <div class="field">
                <h4 class="ui dividing header">제목</h4>
                <input id="title" name="title" placeholder="제목" type="text">
            </div>

            <div class="field">
                <h4 class="ui dividing header">게임 시간</h4>
                <div class="field">
                    <label>시작 시간</label>
                    <input id="startTime" name="startTime" type="datetime-local">
                </div>
                <div class="field">
                    <label>끝나는 시간</label>
                    <input id="endTime" name="endTime" type="datetime-local">
                </div>
            </div>

            <div class="field">
                <h4 class="ui dividing header">인원 수</h4>
                <input id="playerNumbers" max="100" min="1" name="playerNumbers" type="number" placeholder="명">
            </div>
            ​
            <div class="field">
                <h4 class="ui dividing header">방 소개</h4>
                <textarea form="room-save-form" id="intro" name="intro" placeholder="같이 게임 하실래요??"></textarea>
            </div>
            ​
            <button class="ui fluid violet button" id="update-room-button">Submit</button>
        </form>
    </div>
</th:block>
​
<th:block layout:fragment="custom-js">
    <script type="text/javascript" src="/js/fetch-api.js"></script>
    <script type="text/javascript" src="/js/room.js"></script>
</th:block>

</html>