<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragment/head :: headFragment"/>
    <link rel="stylesheet" type="text/css" href="/css/user-edit.css">
</head>

<body>
<div class="ui top aligned center aligned grid">
    <div class="column">
        <h1 class="ui violet header">회원 정보 수정</h1>
        <form>
            <div class="ui form">
                <div class="field">
                    <img class="ui image user_profile" src="../images/default_profile_img.png" alt="profile_img"/>
                </div>
                <div class="field">
                    <div class="ui violet small submit button">사진 수정</div>
                </div>

                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="email" placeholder="닉네임 입력"/>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="비밀번호 입력">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="confirmPassword" placeholder="비밀번호 재입력">
                    </div>
                </div>
                <div class="field">
                    <textarea type="password" name="statusMessage" placeholder="상태 메세지"></textarea>
                </div>
                <div class="field">
                    <div class="ui fluid violet large submit button">수정 완료</div>
                </div>
            </div>
        </form>
    </div>
</div>
<th:block th:replace="fragment/script :: scriptFragment"/>
</body>
</html>