<!DOCTYPE html>
<html lang="ko" layout:decorator="layout/main_layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="custom_head">
    <title>로그인</title>
    <link href="/css/user-edit.css" rel="stylesheet" type="text/css">
</th:block>

<th:block layout:fragment="content_body">
    <div class="ui top aligned center aligned grid">
        <div class="column">
            <h1 class="ui violet header">회원 정보 수정</h1>
            <form accept-charset="UTF-8" action="/player/edit" enctype="multipart/form-data" method="post">
                <div class="ui form">
                    <div class="field">
                        <img alt="profile_img" class="ui image user_profile" th:src="${model.profile}">
                    </div>
                    <div class="field">
                        <input name="profile" type="file"/>
                    </div>

                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input name="nickname" placeholder="닉네임 입력" type="text"/>
                            <input name="email" th:value="${session.login.email}" type="hidden"/>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input name="password" placeholder="비밀번호 입력" type="password">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input name="confirmPassword" placeholder="비밀번호 재입력" type="password">
                        </div>
                    </div>
                    <div class="field">
                        <textarea name="statusMessage" placeholder="상태 메세지" type="password"></textarea>
                    </div>
                    <div class="field">
                        <button class="ui fluid violet large submit button" type="submit">수정 완료</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</th:block>
</html>