<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main_layout">

<th:block layout:fragment="custom_header">
    <title>로그인</title>
    <link href="/css/user-edit.css" rel="stylesheet" type="text/css">
</th:block>

<th:block layout:fragment="content_body">
    <div class="ui top aligned center aligned grid">
        <div class="column">
            <h1 class="ui violet header">회원 정보 수정</h1>
            <form>
                <div class="ui form">
                    <div class="field">
                        <img alt="profile_img" class="ui image user_profile" src="../images/default_profile_img.png"/>
                    </div>
                    <div class="field">
                        <div class="ui violet small submit button">사진 수정</div>
                    </div>

                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input name="email" placeholder="닉네임 입력" type="text"/>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input name="password" placeholder="비밀번호 입력" type="password">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input name="confirmPassword" placeholder="비밀번호 재입력" type="password">
                        </div>
                    </div>
                    <div class="field">
                        <textarea name="statusMessage" placeholder="상태 메세지" type="password"></textarea>
                    </div>
                    <div class="field">
                        <div class="ui fluid violet large submit button">수정 완료</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</th:block>
</html>